caption{
    font-size: 100px;
    text-align: left;
}

table{
    width: 800px;
}

th{
    text-align: left;
}

table, th, td{
    border: 3px solid pink;
    padding: 5px;
    border-radius: 12px;

    
    
}

th, td{
    padding: 8px;
}

tr:nth-child(odd){
background-color: beige;
}


